
.bomb {
    strike-count: 0;
    AA-batteries: 0;
    D-batteries: 0;
    num-modules: 6;
    num-games: 1;
}
.module-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.module{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}