#buttonOverlay {
    background:url('../images/ButtonComponent.svg');
    width:100%;
    height:100%;
    position:relative;
}

#buttonModuleLowerSection {
    height: 50%;
    width: 100%;   
    margin-left: 9%;
}

.buttonModuleButton  {
    margin-left: 9%;
    text-align: center;
    font-size: 2vw;
    width: 65%;
    height: 130%;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    border-width: .05vh;
    box-sizing: border-box;
    padding-top: 20%;
    display: inline-block;
    
}


.buttonModuleLightStrip  {
    height: 12%;
    width: 75%;
    border-color: black;
    border-style: solid;
    border-width: .05vh;
    padding-bottom: 15%;
    margin-top: 2% 3%;
    display: block;

}