#background {
    width:  600px;
    height: 600px;
}

#overlay {
    background:url('../images/Component.svg');
    margin:3.33% 3.33%;
    width:100%;
    height:100%;

/*  Old Scale System
    margin: 20px 20px;
    width: 600px;
    height:600px; */
    position:relative;
}

#innerBorder {
    padding:3.33%;
/*  Old Scale System
    padding: 20px; */
}

#upperSegment {
    padding:4.46%;
    padding-right: 6.83%;
    width:88.3%;
    height: 8.33%

/*  Old Scale System
    padding:25px;
    padding-right: 41px;
    width:494px; */
}

#upperSegmentHeader {
    width:89.94%;
    height: 8.333%;
    float:left;

/*
    width:425px;
    height: 50px;
    float:left; */
}

#upperSegmentLight {
    float:right;
    height:100%;
    width:10.06%;

/*
    height:50px;
    width:50px; */
}

/*.indicatorLight {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: inline-block;

    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block; 
}

.offLight {
    background-color: #bbb;
}

.errorRed {
    background-color: #e62828;
}

.successGreen {
    background-color: #28e64f;
}*/