#background {
    width:  600px;
    height: 600px;
}

#overlay {
    background:url('../images/Component.svg');
    margin:10px 10px;
    width:600px;
    height:600px;
    position:relative;
}

#innerBoarder {
    padding:20px;
}

#upperSegment {
    padding:25px;
    padding-right: 41px;
    width:494px;
}

#upperSegmentHeader {
    width:425px;
    height: 50px;
    float:left;
}

#upperSegmentLight {
    position: relative;
    float:right;
    height:50px;
    width:50px;

}

.indicatorLight {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
}

.offLight {
    background-color: #bbb;
}

.errorRed {
    background-color: #e62828;
}

.successGreen {
    background-color: #28e64f;
}