#background {
    width:  600px;
    height: 600px;
}

#overlay {
    background:url('../images/PasswordComponent.svg');
    margin:3.33% 3.33%;
    width:100%;
    height:100%;

/*  Old Scale System
    margin: 20px 20px;
    width: 600px;
    height:600px; */
    position:relative;
}

#innerBoarder {
    padding:3.33%;
/*  Old Scale System
    padding: 20px; */
}

#upperSegment {
    padding:4.46%;
    padding-bottom:4%;
    padding-right: 6.83%;
    width:88.3%;
    height: 8.33%

/*  Old Scale System
    padding:25px;
    padding-right: 41px;
    width:494px; */
}

#upperSegmentHeader {
    width:89.94%;
    height: 8.333%;
    float:left;

/*
    width:425px;
    height: 50px;
    float:left; */
}

#upperSegmentLight {
    float:right;
    height:100%;
    width:10.06%;

/*
    height:50px;
    width:50px; */
}

.indicatorLight {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: inline-block;
/*
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block; */
}

.offLight {
    background-color: #bbb;
}

.errorRed {
    background-color: #e62828;
}

.successGreen {
    background-color: #28e64f;
}

#lowerSegment {
    width:100%;
}

.buttonArea {
    width: 76%;
    height: 8%;
    padding-left: 7.5%;
    padding-right: 16.5%;
}

.buttonContainer {
    height:100%;
}

.upperButton {
    background: url('../images/password/rolodex_button.png');
    /*background-size: cover;*/
    background-position: 50% 60%;
    background-repeat: no-repeat;
    width: 19%;
    height: 100%;
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}

.lowerButton {
    background: url('../images/password/rolodex_button.png');
    /*background-size: cover;*/
    background-position: 50% 60%;
    background-repeat: no-repeat;
    width: 19%;
    height: 100%;
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.upperButton:active {
    box-shadow: 2% 0% #666;
    transform: translateY(2%);
}

.lowerButton:active {
    box-shadow: 2% 0% #666;
    transform: translateY(2%);
}

#rolodexContainer {
    height: 29%;
    width: 82%;
    max-height: 100%;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 13%;
    padding-top:3%;
    padding-bottom:2%;
}

#rolodex {
    background:url('../images/password/rolodex.png');
    background-size: cover;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}