#background {
    width:  600px;
    height: 600px;
}

#overlay {
    background:url('../images/Component.svg');
    margin:10px 10px;
    width:600px;
    height:600px;
    position:relative;
}

#innerBoarder {
    padding:20px;
    padding-right:36px;
}

#upperSegment {
    padding:25px;
    
}

.indicatorLight {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    float: right;
}