#startMenu{
    width: 75vw;
    height: 85vh;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin: auto;
    margin-top: 2.5%;
    background-color: #7F8C8D;
    border-radius: 2%;
}

#setTime, #setModuleNum, #hardcore{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 25%;
    padding: 2.5%;
}

#startFunctions{
    width: 50%;
    display: flex;
    flex-direction: column;
}

#startTimeLeft, #startModuleNumLeft{
    background: url('../images/startBombArrowRight.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    font-size: 0;
    line-height: 0;
    text-decoration: none;
}

#startTimeRight, #startModuleNumRight{
    background: url('../images/startBombArrowLeft.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    font-size: 0;
    line-height: 0;
    text-decoration: none;
}

#startModuleNumLeft, #startModuleNumRight{
    width: 25%;
}

#hardcoreOn{
    width: 100%;
    height: 100%;
}

#hardcoreOff{
    width: 100%;
    height: 100%;
}

#timeText, #moduleNumber, #hardcoreText{
    margin: auto;
    text-align: center;
    width: 100%;
    height: 15%;
    vertical-align: bottom;
    font-size: 3em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

#startButtonDiv{
    width: 75%;
    height: 75%;
    margin: auto;
    align-items: center;
}

#startButton{
    background: url('../images/startBombButton.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    font-size: 0;
    line-height: 0;
}

#startNotes{
    display: flex;
    align-items: center;
    border-left: 2px solid #99A3A4 ;
    color: #ffffff;
    text-align: center;
    margin: 0;
    width: 50%;
    height: 100%;
    padding: 5%;
}

.selected{
    background-color: #AA0000;
    color: #ffffff;
}