#background {
    width:  100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: .75vw;
}

#overlay {
    /*background:url('../images/WhosOnFirstComponent.svg');*/
    width:100%;
    height:100%;

/*  Old Scale System
    margin: 20px 20px;
    width: 600px;
    height:600px; */
    position:relative;
}

#innerBoarder {
    padding:3.33%;
/*  Old Scale System
    padding: 20px; */
}

#upperSegment {
    margin-bottom: 10%;
    padding:4.46%;
    padding-right: 6.83%;
    width:88.3%;
    height: 8.33%;
    

/*  Old Scale System
    padding:25px;
    padding-right: 41px;
    width:494px; */
}

#upperSegmentHeader {
    width:89.94%;
    height: 8.333%;
    float:left;

/*
    width:425px;
    height: 50px;
    float:left; */
}

#DisplayText{
    display: inline-block;
    vertical-align: top;
    color: white;
    font-size: 40;
    text-align: center;
    height: 100%;
    width: 88%;
    background-color: black;
}

#upperSegmentLight {
    display: inline-block;
    height:100%;
    width:10.06%;

/*
    height:50px;
    width:50px; */
}

.WhosOnFirstIndicatorLight {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: inline-block;
/*
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block; */
}

.whosOnFirstButtonContainer {
    display: inline-block;
    width: 80%;
    vertical-align: top;
    background-color: transparent;
}

.whosOnFirstWordButton{
    margin: 0 0% 0 10%;
    width: 35%;
    height: 12%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30;
    background-color: wheat;
}

.whosOnFirstWordButton:active {
    box-shadow: 2% 0% #666;
    transform: translateY(2%);
}

#whosOnFirstButtonRow {
    margin: 2%;
    
}

.whosOnFirstProgressLightContainer {
    display: inline-block;
    width: 14%;
    height: 50%;
    vertical-align: top;
    background-color: black;
    
}

#whosOnFirstLight1{
    margin: 5% 0 10% 5%;  
    width: 90%;
    height: 12%;
    background-color: white;
}

#whosOnFirstLight2{
    margin: 5% 0 10% 5%;
    width: 90%;
    height: 12%;
    background-color: white;
}

#whosOnFirstLight3{
    margin: 200% 0 10% 5%;
    width: 90%;
    height: 12%;
    background-color: white;
}