#background {
    width:  600px;
    height: 600px;
}

#wiresOverlay {
    background:url('../images/Component.svg');
    margin:3.33% 3.33%;
    width:100%;
    height:100%;

/*  Old Scale System
    margin: 20px 20px;
    width: 600px;
    height:600px; */
    position:relative;
}

#innerBorder {
    padding:3.33%;
    height: 100%;
}

#wiresUpperSegment {
    padding-top: 3.5%;
    width: 100%;
    height: 12.75%;
}

#wiresUpperSegmentHeader {
    padding-left: 5%;
    width:89.94%;
    height: 8.333%;
    float: left;
    font-size: 12px;
}

#wiresUpperSegmentLight {
    margin-right: 7.25%;
    width: 9%;
    height: 100%;
    float: right;
    vertical-align: middle;
}

/*indicatorLight {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: inline-block;
}*/

/*.offLight {
    background-color: #bbb;
}

.errorRed {
    background-color: #e62828;
}

.successGreen {
    background-color: #28e64f;
}*/

#wiresLowerSegment{
    padding-top: 5%;
    width: 100%;
    margin: 0 auto;
    border: 3px solid #000000;
}

.wire-module{
    height: 80%;
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.wire{
    margin: 5%;
    height: 2.5%;
    width: 80%;
}

.blackWire{
    background: #000000;
}

.redWire{
    background: #e62828;
}

.blueWire{
    background: blue;
}

.yellowWire{
    background: yellow;
}

.whiteWire{
    background: #ffffff;
}

.cut-wire{
    background: gray;
}